@page "/veiculos"
@using AutoRepairShop.Components.Services
@using AutoRepairShop.DAL.Models
@inject VehicleService vehicleService
@rendermode InteractiveServer

<PageTitle>Veículos</PageTitle>

<h3>Veículos</h3>

<a class="btn btn-primary active mb-3 text-center" href="veiculosadd">
    <i class="fas fa-plus fa-lg justify-content-center fs-5 mt-1"> Adicionar</i>
</a>
<div>
    <div class="row col-md-12 d-md-inline-flex mt-5">
        <div class="col-md-4">
            <label for="email" class="form-label">Marca:</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" @bind-value="@filter.Brand">
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Modelo:</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" @bind-value="@filter.Model">
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Ano:</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" @bind-value="@filter.Year">
        </div>
    </div>
    <div class="mt-2">
        <button class="btn btn-primary" @onclick="(() => Filter())">
            <i class="fas fa-search fa-lg justify-content-center mt-1">  Filtro</i>
        </button>
    </div>
</div>
<div class="mx-auto mt-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="fs-5 text-center">Placa</th>
                <th class="fs-5 text-center">Marca</th>
                <th class="fs-5 text-center">Modelo</th>
                <th class="fs-5 d-flex justify-content-end">Opções</th>
            </tr>
        </thead>
        <tbody>
            @if(filterVehicles is not null){
                foreach(var vehicle in filterVehicles)
                {   <tr>
                        <td class="fs-5 text-center">@vehicle.Plate</td>
                        <td class="fs-5 text-center">@vehicle.Brand</td>
                        <td class="fs-5 text-center">@vehicle.Model</td>
                        <td class="fs-5 text-center"> 
                            <div class="divBotoes d-flex justify-content-end">
                                <a title="Editar" class="btn btn-secondary text-right float-right me-2" role="button" data-bs-toggle="button" >
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a title="Excluir" class="btn btn-danger text-right float-right" role="button" data-bs-toggle="button">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@code{

    public List<Vehicle>? vehicles { get; set; }

    public List<Vehicle>? filterVehicles { get; set; }

    public VehicleFilter? filter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        vehicles = vehicleService.GetAll().ToList();
        filterVehicles = vehicles;
        await Task.CompletedTask;
        filter = new VehicleFilter();
    }

    public void Filter()
    {
        if(!string.IsNullOrEmpty(filter.Brand))
          filterVehicles = vehicles.Where(v => v.Brand.ToUpper().StartsWith(filter.Brand.ToUpper())).ToList();

        else if(!string.IsNullOrEmpty(filter.Model))
          filterVehicles = vehicles.Where(v => v.Model.ToUpper().StartsWith(filter.Model.ToUpper())).ToList();

        else if(filter.Year is not null)
          filterVehicles = vehicles.Where(v => v.Year == filter.Year).ToList();

        else
            filterVehicles = vehicleService.GetAll().ToList();

    }
}